:root{
    --bg-color: #081b29;
    --text-color: #ddd;
    --header-bg1: transparent;
    --header-bg: #4895cd;
    --bg-white: #fff;
    --cyan: #0ef;
    --black: #000;
    --semi-gray: rgba(100,100,100,0.1);
    --footer-bg: #03131e;
}
body.dark-mode{
    --bg-color: #f4f4f4;
    --text-color: #333;
    --header-bg1: #5686a5;
    --header-bg: #112e42;
    --bg-white: #000;
    --cyan: #6eaedb;
    --black: #fff;
    --semi-gray: #fff;
    --footer-bg: #03131e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 4.5rem;
    font-family: 'aeonik-medium';
}

body{
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    transition: background .4s ease, color .4s ease;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    padding: 1.25rem 3% 1.25rem 5%;
    border-bottom: 1px solid #555;
    background: var(--header-bg1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: background 0.3s ease;
}
.header.scrolled{
    background: var(--header-bg);
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.logo{
    position: relative;
    font-size: 1.6rem;
    color: #ddd;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.header-right{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#active-label{
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--cyan);
    display: none;
}

.hamburger{
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 110;
}
.hamburger span{
    display: block;
    height: 3px;
    width: 25px;
    background: #ddd;
    border-radius: 3px;
    transition: 0.3s;
}

.navbar a{
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    color: #ddd;
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideUp .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover::after{
    width: 100%;
}
.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    height: 0.2rem;
    width: 0%;
    border-radius: 0.5rem;
    background-color: #fff;
    transition: width 0.3s ease;
}

.navbar a.active{
    font-weight: bold;
    color: var(--cyan);
}

    /*----------------------------------== Toggle Button ==---------------------------------*/
.navbar div{
    display: inline-flex;
    gap: 0.3rem;
    width: fit-content;
    align-items: center;
    font-size: 1.2rem;
    opacity: 0;
    animation: slideLeft .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.sun{
    opacity: 0;
    color: yellow;
    transition: all .6s;
}
.moon{
    color: purple;
    transition: all .6s;
}

.switch{
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.5rem;
}

.switch input{
   display: none;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f314af9;
    transition: 0.4s;
    border-radius: 1.5rem;
}
.slider::before{
    position: absolute;
    content: '';
    height: 1rem;
    width: 1rem;
    left: 0.2rem;
    bottom: 0.2rem;
    background-color: white;
    transition: .6s;
    border-radius: 50%;
}

input:checked + .slider{
    background-color: #6eaedb;
}
input:checked + .slider::before{
    transform: translateX(1.6rem);
}

    /*----------------------------------== Home Section ==----------------------------------*/
.home{
    position: relative;
    width: 100%;
    display: grid;
    height: 100vh;
    background: var(--bg-color);
    padding: 4.4rem 10% 0;
}

.home-content{
    max-width: 100vw;
    padding-top: 15%;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideDown 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
    animation: slideUp 1s ease forwards;
    animation-delay: 1.2s;
    
}
.home-content h3 span{
    color:var(--cyan)
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -0.2rem 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p{
    font-size: 1.25rem;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .7s;
}

.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid var(--cyan);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--cyan);
    text-decoration: none;
    margin: 2rem 0.9rem 2rem 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.home-sci a:hover{
    background: var(--cyan);
    color: var(--bg-color);
    box-shadow: 0 0 1.25rem var(--cyan);
}

.btn-box{
    display: inline-block;
    padding: 0.75rem 1.25rem;
    background: var(--cyan);
    border-radius: 2.5rem;
    font-size: 1rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    box-shadow: 0 0 0.3rem var(--cyan), 0 0 1.6rem var(--cyan);
}
.btn-box:hover{
    box-shadow: 0 0 0.3rem cyan, 0 0 1.6rem cyan, 0 0 3rem cyan;
}

@keyframes slideRight{
0%{
    transform: translateX(-100px);
    opacity: 0;
}
100%{
    transform: translateX(0px);
    opacity: 1;
}
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideUp{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideDown{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
    /*----------------------------------== About Section ==----------------------------------*/
.about{
    margin: 0 auto;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
}

.about-img{
    width: 100%;
    text-align: center;
    height: fit-content;
 }
.about-img img{
    object-fit: cover;
    height: auto;
    width: 40%;
    width: 40%;
    max-width: 300px;
    border-radius: 50%;
    box-shadow: 0 8px 20px cyan;
}

.about-text h2{
    font-size: 4rem;
}
.about-text h2 span{
    color: var(--cyan);
}
.about-text h4{
    font-size: 29px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 0.9rem 0 2rem;
}
.about-text p{
    color: var(--text-color);
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 2rem;
}

    /*----------------------------------== Services Section ==----------------------------------*/
.services{
    color: var(--text-color);
    font-size: .25rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.container{
    padding: 1.25rem;
}

.sub-title{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 60px;
    padding-bottom: 3rem;
}
.sub-title span{
    color: var(--cyan);
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 3rem;
    margin-top: 3rem;
}
.services-list div{
    background-color: transparent;
    padding: 2.5rem;
    font-size: 0.9rem;
    font-weight: 0.9rem;
    border-right: 0.6rem;
    border-radius: 1.25rem 0 1.25rem 0;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 0.25rem 0.25rem 0px var(--semi-gray), inset 0.25rem 0.25rem 0px var(--semi-gray) ;
}
.services-list div i{
    font-size: 3rem;
}
.services-list div h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.9rem;
}
.services-list div a{
    text-decoration: none;
    color: var(--black);
    font-size: 14x;
    margin-top: 1.25rem;
    display: inline-block;
}
.services-list div:hover{
    transform: translateY(-0.6rem);
}

/*----------------------------------== Skills Section ==----------------------------------*/
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 98%;
}

.skills .container1{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 2rem;
    margin-bottom: 3rem;
}

.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-thickness: 0.3rem;
}

.technical-bars .bar{
    display: flex;
    margin: 2.5rem 0;
    gap: 1.25rem;
}
.technical-bars .bar:last-child{
    margin-bottom: 0;
}
.technical-bars .bar .info span, .technical-bars .bar i{
    font-size: 1rem;
    font-weight: 500;
}
.technical-bars .bar .progress-line{
    position: relative;
    border-radius: 0.6rem;
    width: 100%;
    height: 0.3rem;
    background-color: var(--black);
    transform-origin: left;
}
.technical-bars .bar .progress-line span{
    height: 100%;
    background-color: var(--cyan);
    position: absolute;
    border-radius: 0.6rem;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span{
    width: 90%;
}
.progress-line.css span{
    width: 80%;
}
.progress-line.js span{
    width: 60%;
}
.progress-line.react span{
    width: 40%;
}
.progress-line.python span{
    width: 25%;
}

.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "80%";
}
.progress-line.js span::after{
    content: "60%";
}
.progress-line.react span::after{
    content: "40%";
}
.progress-line.python span::after{
    content: "25%";
}

.progress-line span::after{
    position: absolute;
    padding: 0.1rem 0.5rem;
    background: var(--black);
    color: var(--text-color);
    font-size: 0.75rem;
    border-radius: 0.2rem;
    top: -1.25rem;
    right: -0.6rem;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0.5rem;
    border-right-width: 0.5rem;
    border-top-color: var(--black);
    top: -2rem;
    right: 0;
    animation: showText 0;
}

@keyframes animate-cubic{
    0%{
         transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

@keyframes showText{
    100%{
        opacity: 1;
    }
}

.radial-bars {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.radial-bar {
    width: 50%;
    max-width: 280px;
    text-align: center;
    position: relative;
}

.radial-bar svg {
    width: 100%;
    transform: rotate(-90deg);
    height: auto;
}

.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: var(--black);
    fill: transparent;
    stroke-dasharray: calc(2*3.142*80);
    stroke-dashoffset: calc(2*3.142*80);
    stroke-linecap: round;
}

.radial-bar .text {
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 0;
    animation: showText 1s ease forwards;
}

.radial-bar .percentage {
    margin-top: .7rem;
    font-size: 1.4rem;
    opacity: 0;
    animation: showText 1s ease forwards;
}

@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}

.path{
    stroke-width: 10;
    stroke: var(--cyan);
    fill: transparent;
    stroke-dasharray: calc(2*3.142*80);
    stroke-dashoffset: calc(2*3.142*80);
    stroke-linecap: round;
}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 75.4;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 50.27;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 0;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 125.55;
    }
}

.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    font-weight: 500;
}

.radial-bar .text{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

/*----------------------------------== Projects Section ==----------------------------------*/
.projects .projects-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1.25rem;
}

.projects .projects-content .row{
    position: relative;
    overflow: hidden;
    border-radius: 0.25rem;
    cursor: pointer;
}

.projects .projects-content .row img{
    width: 100%;
    border-radius: 0.5rem;
    display: block;
    transition: transform 0.5s;
}

.projects .projects-content .row .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(#0000001a, var(--cyan));
    position: absolute;
    border-radius: 0.5rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2.5rem;
    transition: height 0.5s;
}
.projects .projects-content .row .layer h5{
    color: var(--cyan);
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.9rem;
}
.projects .projects-content .row .layer p{
    color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
}
.projects .projects-content .row .layer i{
    margin-top: 1.25rem;
    font-size: 1.25rem;
    background-color: var(--bg-white);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.projects .projects-content .row:hover img{
    transform: scale(1.1);
}
.projects .projects-content .row:hover .layer{
    height: 100%;
}

    /*----------------------------------== Contact Section ==----------------------------------*/
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 3rem;
    padding: 0px 2rem 2rem 2rem;
    margin-top: 130px;
}

.contact .contact-text h4{
    margin: 0.9rem 0;
    color: var(--text-color);
    font-size: 1.25rem;
    font-weight: 600;
}
.contact .contact-text p{
    color: #a29f9f;
    font-size: 1.25rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
.contact .contact-text li{
    text-decoration: none;
    margin-bottom: 0.6rem;
    display: flex;
    width: fit-content;
    gap: 0.3rem;
}
.contact .contact-text .contact-list i{
    display: inline-block;
    color: var(--cyan);
    font-size: 1.25rem;
    font-weight: 600;
    transition: all .6 ease;
}
.contact .contact-text .contact-list li:hover{
    transform: scale(1.01) translateY(-.0.3rem);
    color: var(--cyan);
    cursor: pointer;
}

.contact .contact-text .contact-icons{
    display: flex;
}
.contact .contact-text .contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: 2px solid var(--cyan);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--cyan);
    margin: 1.25rem 0.9rem 2rem 0;
    transition: .5s ease;
    opacity: 0;
}
.contact .contact-text .contact-icons i:hover{
    background: var(--cyan);
    color: var(--black);
    box-shadow: 0 0 1.25rem var(--cyan);
}

.contact .contact-box{
    border-radius: 1rem;
    background-color: var(--semi-gray);
    padding: 2rem 0 0 3rem;
    color: #4c677e;
}

.contact .contact-box form .details{
    display: flex;
}
.contact .contact-box form input{
    margin-bottom: 32px;
}
.contact .contact-box form input::placeholder, textarea::placeholder{
    color: #a2a6ade6;
    font-size: 0.9rem;
    font-weight: 500;

}
.contact .contact-box form input, .contact .contact-box form textarea{
    outline: none;
    width: 90%;
    padding: 0.9rem 1.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    border-radius: 0.75rem;
    background-color: var(--semi-gray);
    border: 1px solid #181a1d1a;
    box-shadow: 0 0 0 1px transparent;
}
.contact .contact-box form label{
    display: flex;
    gap: 0.3rem;
    flex-wrap: wrap;
    align-items: baseline;
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}
.contact .contact-box form label span{
    font-size: 0.9rem;
    color: #666c0f;
}
.contact .contact-box textarea{
    margin-bottom: 0.6rem;
    min-width: 200px;
    min-height: 4.4rem;
    max-height: 300px;
    max-width: 43rem;
}
.contact .contact-box form .send{
    display: inline-block;
    background: var(--header-bg);
    border-radius: 2.5rem;
    font-size: 19px;
    color: var(--bg-color);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 0 1px transparent;
}
.contact .contact-box form .send:hover{
    cursor: pointer;
    background: #66829a;
}

  /*----------------------------------== Footer Section ==----------------------------------*/
.footer{
    background: var(--footer-bg);
    padding: 2rem 1.25rem;
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid #333;
}

.footer p{
    color: #646262;
}

.footer a{
    color: #bbb;
    margin: 0 0.6rem;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer a:hover{
    color: #00bcd4;
}

.footer-content{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding-left: 1.6rem;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    text-align: start;
}
.footer-links p{
    font-size: 1.25rem;
    color: #e5d1d1;
}

.footer-links a{
    position: relative;
    width: fit-content;
}
.footer-links a::after{
    position: absolute;
    content: '';
    height: 1px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bbb;
    transition: width 0.3s ease;
}
.footer-links a:hover::after{
    width: 0%;
}
.footer-links a:hover{
    scale: 1.1;
}

.footer-icons{
    align-self: end;
    justify-self: end;
}
.footer-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
    border: 2px solid #646363;
    border-radius: 50%;
    padding: 0.6rem;
    transition: transform .5s;
}
.footer-icons a:hover{
    color: var(--cyan);
    transform: scale(1.1);
}

/* ------------------------== Navbar responsive behaviour ==------------------------ */
@media (max-width: 768px) {
    .navbar{
        position: absolute;
        background: linear-gradient(270deg, #081b29 0%,rgba(0, 188, 212, 0.5)50%, rgba(0, 188, 212, 0.3)75%, transparent 100%);
        top: 100%;
        left: 0;
        width: 100%;
        /* background: var(--header-bg); */
        flex-direction: column;
        align-items: flex-end;
        gap: 1.5rem;
        padding: 1.5rem 2rem;
        display: none;
    }
    .navbar.show{
        display: flex
    }

    .hamburger{
        display: flex;
    }
    #active-label{
        display: flex;
    }
}